<div class="jumbotron">
    <br>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <br>
</div>


{{!-- div to hold the all articles --}}
<div class="currentArticles">  
    <h2>Current News...</h2>  
</div>


{{!-- div to hold the saved articles --}}
<div class="currentArticles">
    <h2>Your Saved Articles</h2>
</div>

<div id="wrapper">
      <h1>Note Scraper</h1>
     
      <div id="articles"></div>
      <div id="notes"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../app.js/"></script>
    
